extend shared/_master

block body

 section.section-background
  .container
    h2.page-header
      | our story
    ol.breadcrumb
      li
        a(href='/') Home
      li.active  about

 section.wwa.section-wrapper
  .container
    h2.section-title
      | Who we are?
    p.section-subtitle
      | Lorem Ipsum is simply dummy text of the industry.
    .row
      .col-sm-3.col-xs-6
        .who
          img.img-responsive.who-img(src='/static/assets/images/ab-1.png', alt='')
          h3
            | We Advance
          p.who-detail
            | Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat tellus malesuada ex.
      .col-sm-3.col-xs-6
        .who
          img.img-responsive.who-img(src='/static/assets/images/ab-2.png', alt='')
          h3
            | Helpul Guide
          p.who-detail
            | Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat tellus malesuada ex.
      .col-sm-3.col-xs-6
        .who
          img.img-responsive.who-img(src='/static/assets/images/ab-3.png', alt='')
          h3
            | Travel anywhere
          p.who-detail
            | Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat tellus malesuada ex.
      .col-sm-3.col-xs-6
        .who
          img.img-responsive.who-img(src='/static/assets/images/ab-4.png', alt='')
          h3
            | our best transport
          p.who-detail
            | Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat tellus malesuada ex.

 section.story-and-client.section-wrapper
  .container
    .row
      .col-sm-6
        .story
          h2.section-title
            | Our Story
          img.story-img(src='/static/assets/images/client.png', alt='story')
          p.story-detail
            | Ut cursus massa at urnaaculis estie. Sed aliquamellus vitae ultr condmentum leo massa mollis estiegittis miristum nulla auris quam tristique, dignissim. Morbi tempus mauris eget leo ullamcorper, et tempus risus dignissim. Proin ullamcorper eleifend est quis eleifend.
          p.story-detail
            | molestie felis Fusce tristique, elit nec vehicula imperdiet, eros est egestas odio aliquet elit nulla sed massa. Morbi tempus mauris eget leo ullamcorper, et tempus risus dignissim. Proin ullamcorper eleifend est quis eleifend. Ut cursus massa at urnaaculis estie eget leo ullamcorper tempus risus dignissim.
      .col-sm-6
        .story
          h2.section-title
            | Client feedback
          table.table._table-bordered
            tbody
              tr
                td
                  | 5 Stars
                td
                  .progress
                    .progress-bar(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width:50%')
                      span.sr-only 70% Complete
                td
                  | 50%
              tr
                td
                  | 4 Stars
                td
                  .progress
                    .progress-bar(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width:90%')
                      span.sr-only 90% Complete
                td
                  | 90%
              tr
                td
                  | 3 Stars
                td
                  .progress
                    .progress-bar(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width:75%')
                      span.sr-only 75% Complete
                td
                  | 75%
              tr
                td
                  | 2 Stars
                td
                  .progress
                    .progress-bar(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width:33%')
                      span.sr-only 33% Complete
                td
                  | 33%
              tr
                td
                  | 1 Stars
                td
                  .progress
                    .progress-bar(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width:82%')
                      span.sr-only 82% Complete
                td
                  | 82%

 .section-wrapper.sponsor
  .container
    .owl-carousel.sponsor-carousel
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-1.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-2.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-3.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-4.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-5.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-6.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-1.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-2.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-3.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-4.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-5.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-6.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-1.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-2.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-3.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-4.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-5.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-6.png', alt='sponsor-brand')

 .subscribe.section-wrapper
  a.brand-logo(href='/', title='HOME')
    i.ion-paper-airplane
    |  Shared 
    span Travel
  p.subscribe-now
    | Subscribe to our Newsletter
  .container
    .row
      .col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-3
        .input-group
          input.form-control.border-radius(type='email', placeholder='Email address')
          span.input-group-btn
            button.btn.btn-default.border-radius.custom-sub-btn(type='button') DONE
        // /input-group
  ul.social-icon
    li
      a(href='#')
        i.ion-social-twitter
    li
      a(href='#')
        i.ion-social-facebook
    li
      a(href='#')
        i.ion-social-linkedin-outline
    li
      a(href='#')
        i.ion-social-googleplus

 footer
  .container
    .row
      .col-xs-6
        .text-left
          | © Copyright Shared Travel