extend shared/_master

block body
 section.section-background
  .container
    h2.page-header 
      |
 section.section-wrapper.contact-and-map
  .container
    .row
      .col-sm-12
        h2.section-title
          | Send Message
        form.form#form(method='post', action='/contact')
          .input-group
            input#name.form-control.border-radius.border-right(name='name', type='text', placeholder='Name', required='')
            span.input-group-addon.border-radius.custom-addon
              i.ion-person
          .input-group
            input#email.form-control.border-radius.border-right(name='email', type='email', placeholder='Email address', required='')
            span.input-group-addon.border-radius.custom-addon
              i.ion-email
          .input-group
            input#number.form-control.border-radius.border-right(name='phone' ,type='tel', placeholder='Phone number', required='')
            span.input-group-addon.border-radius.custom-addon
              i.ion-ios-telephone
          .input-group
            textarea#message.form-control.border-radius.border-right(name='message', rows='8', placeholder='Write Message', required='')
            span.input-group-addon.border-radius.custom-addon
              i.ion-chatbubbles
          input.btn.btn-default.border-radius.custom-button(type='submit' value='SEND MESSAGE')

 .subscribe.section-wrapper
  a.brand-logo(href='/', title='HOME')
    i.ion-paper-airplane
    |  Euro 
    span Travel
  p.subscribe-now
    | Subscribe to our Newsletter
  .container
    .row
      .col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-4
          form(method='post', action='/contact/subscribe')
           .form-group
            .input-group
             input.form-control.border-radius(type='email', name='email', placeholder='Email address')
             input.btn.btn-default.border-radius.custom-sub-btn(type='submit' value='SUBSCRIBE')
  ul.social-icon
    li
      a(href='#')
        i.ion-social-twitter
    li
      a(href='#')
        i.ion-social-facebook
    li
      a(href='#')
        i.ion-social-linkedin-outline
    li
      a(href='#')
        i.ion-social-googleplus
block body_end_scripts
  script(src='/static/js/contact.js')