extend shared/_master

block body
 #header
  .flexslider
    ul.slides
      li.slider-item(style="background-image: url('/static/assets/images/item-1.png')")
        .intro.container
          .inner-intro
            h1.header-title
              span traveling
              |  always "good idea"
            p.header-sub-title
              | it leaves you speechless, then turns you into a storyteller.
            button.btn.custom-btn
              | Travel Now
      li.slider-item(style="background-image: url('/static/assets/images/item-2.png')")
        .intro
          .inner-intro
            h1.header-title
              | to 
              span travel
              |  is to 
              span live
            p.header-sub-title
              | it leaves you speechless, then turns you into a storyteller.
            button.btn.custom-btn
              | Travel Now
 section.tour.section-wrapper.container
  h2.section-title
    | Find a Tour
  p.section-subtitle
    | Where would you like to go?
  .row
    .col-md-3.col-sm-6
      form.form-dropdown(role='form')
        .form-group
          label(for='sel1') Select list (select one):
          select#sel1.form-control.border-radius
            option America
            option Bangladesh
            option Canada
            option India
    .col-md-3.col-sm-6
      form.form-dropdown(role='form')
        .form-group
          label(for='sel2') Select list (select one):
          select#sel2.form-control.border-radius
            option America
            option Bangladesh
            option Canada
            option India
    .col-md-3.col-sm-6
      .input-group
        input.form-control.border-radius.border-right(type='date', placeholder='Arrival')
        span.input-group-addon.border-radius.custom-addon
          i.ion-ios-calendar
    .col-md-3.col-sm-6
      .btn.btn-default.border-radius.custom-button
        | Search

 section.visit.section-wrapper
  .container
    h2.section-title
      | Top place to visit
    p.section-subtitle
      | Lorem Ipsum is simply dummy text of the industry.
    .owl-carousel.visit-carousel(id='')
      .item
        img.img-responsive.visit-item(src='/static/assets/images/visit-1.png', alt='visit-image')
      .item
        img.img-responsive.visit-item(src='/static/assets/images/visit-2.png', alt='visit-image')
      .item
        img.img-responsive.visit-item(src='/static/assets/images/visit-3.png', alt='visit-image')
      .item
        img.img-responsive.visit-item(src='/static/assets/images/visit-1.png', alt='visit-image')
      .item
        img.img-responsive.visit-item(src='/static/assets/images/visit-2.png', alt='visit-image')
      .item
        img.img-responsive.visit-item(src='/static/assets/images/visit-3.png', alt='visit-image')

 .section-wrapper.sponsor
  .container
    .owl-carousel.sponsor-carousel
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-1.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-2.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-3.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-4.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-5.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-6.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-1.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-2.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-3.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-4.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-5.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-6.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-1.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-2.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-3.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-4.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-5.png', alt='sponsor-brand')
      .item
        a(href='#')
          img.img-responsive.sponsor-item(src='/static/assets/images/sp-6.png', alt='sponsor-brand')

 .subscribe.section-wrapper
  a.brand-logo(href='/', title='HOME')
    i.ion-paper-airplane
    |  Shared 
    span Travel
  p.subscribe-now
    | Subscribe to our Newsletter
  .container
    .row
      .col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-3
        .input-group
          input.form-control.border-radius(type='email', placeholder='Email address')
          span.input-group-btn
            button.btn.btn-default.border-radius.custom-sub-btn(type='button') DONE
        // /input-group
  ul.social-icon
    li
      a(href='#')
        i.ion-social-twitter
    li
      a(href='#')
        i.ion-social-facebook
    li
      a(href='#')
        i.ion-social-linkedin-outline
    li
      a(href='#')
        i.ion-social-googleplus

 footer
  .container
    .row
      .col-xs-6
        .text-left
          | © Copyright Shared Travel
      .col-xs-6
        .top
          a(href='#header')
            i.ion-arrow-up-b