extend shared/_master

block body
    section.section-background
    .container
        h2.page-header 
            |
    section.section-wrapper
            .row
                .col-sm-12#chat-field
                    ul#messages
                    form#chat(action='')
                        input#m(autocomplete='off')
                        button Send
block body_end_scripts
    script(src='/socket.io/socket.io.js')
    script(src='/static/js/chat.js')
