extend shared/_master

block body

 section.section-background
    .container#offers-container
        h2.page-header 
        |
        section.section-wrapper#main-heading
            .row.offersList
                each offer in context
                    .col-md-4.col-sm-6
                        form(action='/myoffers' method='post')
                            .media.offer
                                input(id='offer-id' class='hidden' name='_id' value=offer._id)
                                #destination
                                    h3#city=offer.city
                                    h4#country
                                        |(
                                        =offer.country
                                        |)
                                #price=offer.price + ' €'
                                #duration=offer.duration + ' days'
                                #startDate  Starts at: 
                                    =offer.date
                                input(type='submit' class='btn btn-danger' value='REMOVE')
                else
                    h1 You don't have any offers made yet.
                        a(href='/createoffer') Create one?